fieldset {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.homepage-header {
    font-size: 40px;
    margin: 30px;
}

.homepage-list-header {
    font-weight: 500;
    font-size: 25px;
    margin-top: 0px;
}

.homepage-text {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.homepage-button {
    color: #ffffff !important;
    background-color: #0095ff !important;
}

#homepage-background {
    background-color: #f0f0f0;
}


/* Panel 1 */

#homepage-panel1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #dadada;
    background-color: #f0f0f0;
    color: #000000;
    height: auto;
}

#homepage-panel1-edge {
    width: 50%;
    border-bottom-left-radius: 100%;
    background-color: #1e1f20;
}

#homepage-graphic {
    border-bottom-left-radius: 98%;
    width: 96%;
    min-width: 300px;
    min-height: 300px;
    height: auto;
    margin-left: 4%;
}

#homepage-panel-text-box {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-bottom: 150px;
}


/* Panel 2 */

#homepage-panel2 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #dadada;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dadada;
    color: #4b4d50;
}

#homepage-panel2-header {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 25px;
}

#homepage-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin-bottom: 120px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.homepage-list-selection {
    text-align: center;
    width: 28%;
}


/* Panel 3 */

#homepage-panel3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    color: #4b4d50;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dadada;
}

#homepage-panel3-list-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#homepage-panel3-list-header {
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 25px;
}

#homepage-panel3-list {
    margin-right: auto;
    margin-left: 5%;
}

.homepage-panel3-list-element {
    margin-top: 5px;
    list-style: none;
}

#homepage-panel3-edge {
    width: 50%;
    border-top-left-radius: 100%;
    background-color: #1e1f20;
}

#homepage-panel3-graphic {
    border-top-left-radius: 98%;
    width: 96%;
    min-width: 300px;
    min-height: 300px;
    height: auto;
    margin-left: 4%;
}